.gallery{


}
.gallery > div {
    display: inline-block;
    vertical-align: top;
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: 10px;
    border-radius: 5px;
}
