.main-block {
    margin: 0 auto;
    padding: 0 30px;
}

.place-Col{
    position: relative;
}
.place-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(500px,1fr));
    grid-auto-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.place-Card{
    height: 100%;
    padding-bottom: 25px;
}
.place-Image{
    width: 100%;
}
.place-CardText{
    margin-top: 15px;
    font-weight: bold;
}
.place-Title{
    font-weight: bold;
    font-size: 1.75rem;
    height: 4rem;
    overflow: hidden;
    padding-right: 40px;
}
